@{
    ViewData["Title"] = "Home Page";
}

@model TemperatureModel
@{
}
<div class="text-center">
    <h1>Current Home Temperature Data</h1>
   <table class="table table-bordered table-striped">
       <thead class="table-dark">
           <tr>
               <td>Value From ADC</td>
               <td>Voltage at thermistor</td>
               <td>Temperature Reading (degrees F)</td>
           </tr>

       </thead>
       <tbody>
           <tr>
               <td>@Model.Value</td>
               <td>@Model.Voltage</td>
               <td><b>@Model.Temperature</b></td>
           </tr>
       </tbody>
   </table>

</div>


